{% extends "pemilu/layout.html" %}

{% block brand %}static/imgg/123.png{% endblock %}


{% block title %}
Halaman Muka
{% endblock %}


{% block main %}
{% load static %}
<div class="container-fluid">
    <a href="/every" class="list-group-item-action bg-white">
    <div class="card shadow mb-4 justify-content-center list-group-item-action">
        <div class="card-header py-3 d-flex justify-content-center">
            <img src="{% static "imgg/vault.png" %}" width="100px" height="100px" alt="">
            <div class="col">
                <h3>Everyday Savings</h3>
                <p>Allocate your money for an annual savings.</p>
            </div>
        </div>
    </div></a>
    <a href="/dream" class="list-group-item-action bg-white">
<div class="card shadow mb-4 justify-content-center">
    <div class="card-header py-3 d-flex justify-content-center">
            <img src="{% static "imgg/dreams.png" %}" width="100px" height="100px" alt="">
            <div class="col">
                <h3>Dream Saver</h3>
                <p>A Savings for something you really want.</p>
            </div>
    </div>
</div></a>
    <a href="/future" class="list-group-item-action bg-white">
<div class="card shadow mb-4 justify-content-center">
    <div class="card-header py-3 d-flex justify-content-center">
            <img src="{% static "imgg/magic.png" %}" width="100px" height="100px" alt="">
            <div class="col">
                <h3>Money for Future</h3>
                <p>A Savings for future, and incase that you need emergency funds.</p>
            </div>
    </div>
</div></a>
</div>

</div>

<div class="gfg">

</div>
<div class="wrap">

</div>


<style>
    .pb-3, .py-3 {
    padding-bottom: 0rem!important;
}
    h3 {
    color: indigo;
    font-weight: bold;
}
    ul.list-group.list-group-flush {
        font-family: Montserrat;
    }

    .container-fluid {
        overflow: scroll;
        height: 600px;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }

    div.gfg {
        overflow: auto;
    }

    .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Montserrat;
    }



    #loader img {
        position: absolute;
        width: 2%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #logo {
        width: 100%;
        top: 70%;
    }

    p {
        text-align: justify;
    }

    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }

    body {
        background-color:darkslateblue;
    }

    .card-header.py-3.d-flex.justify-content-center {
        font-family: Montserrat;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script>
    var loader = document.getElementById("loader");

    window.addEventListener("load", function () {
        setTimeout(function () {
            loader.style.opacity = "0";
            loader.style.visibility = "hidden";
        }, 1500);
    })


</script>
{% endblock %}

{% block bottom %}
<nav class="navi">
    <a href="/home" class="navi__link">
        <i class="material-icons navi__icon ">home</i>
        <span class="navi__text">Home</span>
    </a>
    <a href="/portofolio" class="navi__link">
        <i class="material-icons navi__icon">score</i>
        <span class="navi__text">Porto</span>
    </a>
    <a href="" class="navi__link">
        <i style="color:springgreen;" class="material-icons navi__icon">account_balance_wallet</i>
        <span style="color:springgreen;" class="navi__text">Save</span>
    </a>

    <a href="/literacy" class="navi__link">
        <i class="material-icons navi__icon">batch_prediction</i>
        <span class="navi__text">Learn</span>

    </a>

    <link href="http://siswa.edulab.co.id/assets-front/dash/lib/@fortawesome/fontawesome-free/css/all.min.css"
        rel="stylesheet">
    <link href="http://siswa.edulab.co.id/assets-front/dash/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</nav>


<style>
    .material-icons {
        color: white;
        font-size: x-large;
    }

    .navi {
        bottom: 0;
        width: 100%;
        height: 55px;
        display: flex;
        overflow-x: auto;
    }

    .navi__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-family: sans-serif;
        font-family: Montserrat;
        font-size: 13px;
        color: white;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }

    .navi__link: hover {
        background-color: #DEFAB2;
    }

    .navi__link--active {
        color: #009578;
    }
</style>
{% endblock %}