{% extends "sinauBS/layout.html" %}
{% block title %}Courses{% endblock %}
{% block main %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Courses</h3>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                        <span class="sr-only">20%</span>
                    </div>
                </div>
                <div class="card-body">
                    <a href="/coursesplayer"><h5 class="card-title d-flex justify-content-center">Grammar: Chapter 1</h5></a>
                    <p class="card-text text-center">Grammar is the system of a language. People sometimes describe grammar as the "rules" of a language; but in fact no
                    language has rules*.</p>
                    <p class="card-text text-center"><small class="text-muted">Last opened 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40%</span>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Trig Chapter II</h5>
                    <p class="card-text text-center">Trigonometry is a branch of mathematics that studies relationships between side lengths and angles of triangles.</p>
                    <p class="card-text text-center"><small class="text-muted">Last opened 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="progress mb-4">
                    <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60%</span>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Perspektif Project</h5>
                    <p class="card-text text-center">the art of drawing solid objects on a two-dimensional surface so as to give the right impression of their height, width,
                    depth, and position in relation to each other when viewed from a particular point.</p>
                    <p class="card-text text-center"><small class="text-muted">Last opened 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span
                            class="sr-only">80%</span>
                    </div>
                </div>
                <div class="card-body">
                    <a href="/coursesplayer/1"><h5 class="card-title d-flex justify-content-center">DC Circuit</h5></a>
                    <p class="card-text text-center ">A Direct Current circuit is a circuit that Electric Current flows through in one direction. DC is commonly found in many
                    low-voltage applications, especially where these are powered by Battery.</p>
                    <p class="card-text text-center"><small class="text-muted">Last opened 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="progress mb-4">
                    <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Math Project</h5>
                    <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text text-center"><small class="text-muted">Last opened 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <br> <br><br>
</div>
{% endblock %}