{% extends "sinauBS/layout.html" %}
{% block title %}Share Note{% endblock %}
{% block main %}
{% load static %}
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
            <div class="input-group-append"><button class="btn btn-light" type="button"><i
                        class="fas fa-search"></i></button></div>
        </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Math</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Physics</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">English</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Biology</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Literature</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary"><span style="color: whitesmoke;">Add My Notes</span></a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Share Your Notes</h3>
    </div>
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{% static "images/materi_1.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"><strong>Physic: Dynamic E.</strong></h5>
                        <p class="card-text text-center"><small class="text-muted">Posted by: Lara</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{% static "images/materi_3.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"><strong>Physic: Kirchhoff L.</strong></h5>
                        <p class="card-text text-center"><small class="text-muted">Posted by: Kevin</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{% static "images/materi_2.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"><strong>Physic: Electricity I</strong></h5>
                        <p class="card-text text-center"><small class="text-muted">Posted by: Arvhie</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{% static "images/materi_3.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"><strong>Physic: Law of Force</strong></h5>
                        <p class="card-text text-center"><small class="text-muted">Posted by: Smailly</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{% static "images/materi_1.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"><strong>Physic: Dynamic E.</strong></h5>
                        <p class="card-text text-center"><small class="text-muted">Posted by: Kiki</small></p>
                    </div>
                </div>
        </div>
    </div>
    <br> <br><br>
</div>
</div>
<style>
    .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 10px;
    width: 93%;
}
</style>
{% endblock %}